<style>
.bubblingG {
text-align: center;
width:100px;
height:63px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 13px;
height: 13px;
margin: 31px auto;
background: #000000;
-moz-border-radius: 63px;
-moz-animation: bubblingG 1.6s infinite alternate;
-webkit-border-radius: 63px;
-webkit-animation: bubblingG 1.6s infinite alternate;
-ms-border-radius: 63px;
-ms-animation: bubblingG 1.6s infinite alternate;
-o-border-radius: 63px;
-o-animation: bubblingG 1.6s infinite alternate;
border-radius: 63px;
animation: bubblingG 1.6s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.48s;
-webkit-animation-delay: 0.48s;
-ms-animation-delay: 0.48s;
-o-animation-delay: 0.48s;
animation-delay: 0.48s;
}

#bubblingG_3 {
-moz-animation-delay: 0.96s;
-webkit-animation-delay: 0.96s;
-ms-animation-delay: 0.96s;
-o-animation-delay: 0.96s;
animation-delay: 0.96s;
}

@-moz-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#000000;
-moz-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#FFFFFF;
-moz-transform: translateY(-26px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#000000;
-webkit-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#FFFFFF;
-webkit-transform: translateY(-26px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#000000;
-ms-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#FFFFFF;
-ms-transform: translateY(-26px);
}

}

@-o-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#000000;
-o-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#FFFFFF;
-o-transform: translateY(-26px);
}

}

@keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#000000;
transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#FFFFFF;
transform: translateY(-26px);
}

}

</style>
<div class="bubblingG">
<span id="bubblingG_1">
</span>
<span id="bubblingG_2">
</span>
<span id="bubblingG_3">
</span>
</div>